node_modules/
lerna-debug.log
email-tpl.html
packages/helper/globalConfig.prod.mjs
packages/vendor-scripts-n-configs/docker_mongo/mongo-init.js
packages/vendor-scripts-n-configs/docker_mongo/startMongo.sh
