html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div > a {
  color: blue;
  &:link{
    color: blue;
  }

  &:visited{
    color: blue;
  }
}

a {
  text-decoration: none;
  &:link{
    color: inherit;
  }

  &:visited{
    color: inherit;
  }
}



* {
  box-sizing: border-box;
}
