br.navBr1{
  @media screen and (min-width: 450px) {
    display: none;
  }
}
br.navBr2{
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.statusIcon{
  font-size: 1.5em;
  &red{
    color: red;
  }
  &green{
    color: #00ff00;
  }
  &yellow{
    color: yellow;
  }
}